<div id="header">
    <div id="top">
        <div class="left">
            <img src="~/Content/img/logo_small.png" />

        </div>
        <div class="right">
            <div class="align-right">
                <p>
                    <a href="/" style="color: white">Trang chủ</a>
                    <a href="/Admin/Login" style="color: white">Đăng xuất</a>
                </p>
            </div>
        </div>
    </div>
    <div id="nav">

    </div>
</div>