<div class="static-sidebar-wrapper sidebar-midnightblue">
    <div class="static-sidebar">
        <div class="sidebar">
            <div class="widget stay-on-collapse" id="widget-sidebar">
                <nav role="navigation" class="widget-body">
                    <ul class="acc-menu">
                        <li><a href="index.html"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-columns"></i><span>Sản Phẩm</span><span class="badge badge-primary">8</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/SanPham/Create">Thêm Sản Phẩm</a></li>
                                <li><a href="/Admin/SanPham/Index">Quản Lý Sản Phẩm Sản Phẩm</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-flask"></i><span>Tin Tức</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/TinTuc/Create">Thêm Tin Tức</a></li>
                                <li><a href="/Admin/TinTuc/Index">Quản Lý Tin Tức</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-cogs"></i><span>Thương Hiệu</span><span class="label label-info">UI</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/ThuongHieu/Create">Thêm Thương Hiệu</a></li>
                                <li><a href="/Admin/ThuongHieu/Index">Quản Lý Thương Hiệu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-random"></i><span>Slider</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/Slide/Create">Thêm Slider</a></li>
                                <li><a href="/Admin/Slide/Index">Quản Lý Slider </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-pencil"></i><span>Nhân Viên</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/NhanVien/Create">Thêm Nhân Viên</a></li>
                                <li><a href="/Admin/NhanVien/Index">Quản Lý Nhân Viên </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-table"></i><span>Quảng Cáo</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/QuangCao/Create">Thêm Quảng Cáo</a></li>
                                <li><a href="/Admin/QuangCao/Index">Quản Lý Quảng Cáo </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-bar-chart-o"></i><span>Nhà Phân Phối</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/NhaPhanPhoi/Create">Thêm Nhà Phân Phối</a></li>
                                <li><a href="/Admin/NhaPhanPhoi/Index">Quản Lý Nhà Phân Phối</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-map-marker"></i><span>Hình Ảnh</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/HinhAnh/Create">Thêm Hình Ảnh</a></li>
                                <li><a href="/Admin/HinhAnh/Index">Quản Lý Nhà Hình Ảnh</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-files-o"></i><span>Danh Muc</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/DanhMuc/Create">Thêm Nhà Danh Mục</a></li>
                                <li><a href="/Admin/DanhMuc/Index">Quản Lý Nhà Danh Mục</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-briefcase"></i><span>Hóa Đơn Xuất</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/HoaDonXuat/Create">Thêm Nhà Hóa Đơn Xuất</a></li>
                                <li><a href="/Admin/HoaDonXuat/Index">Quản Lý Hóa Đơn Xuất</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-briefcase"></i><span>Chi Tiết Hóa Đơn Xuất</span><span class="badge badge-success">3</span></a>
                            <ul class="acc-menu">
                                <li><a href="/Admin/ChiTietHoaDonXuat/Create">Thêm Nhà Chi Tiết Hóa Đơn Xuất</a></li>
                                <li><a href="/Admin/ChiTietHoaDonXuat/Index">Quản Lý Chi Tiết Hóa Đơn Xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
